# OpenSSL config: SECLEVEL=1 for MongoDB Atlas compatibility on Render
# Fixes TLSV1_ALERT_INTERNAL_ERROR with Ubuntu 24.04 / OpenSSL Security Level 2
openssl_conf = openssl_init

[openssl_init]
ssl_conf = ssl_sect

[ssl_sect]
system_default = system_default_sect

[system_default_sect]
CipherString = DEFAULT@SECLEVEL=1
MinProtocol = TLSv1.2
